requests
django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
pandas
pycodestyle
flake8
numpy
redis
scipy
statsmodels
lifelines
psycopg2-binary
plotly
autograd
pycryptodome
filelock
setuptools~=70.0.0
